.display-items {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  .display-items h2 {
    margin-bottom: 20px;
  }
  
  .display-items table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .display-items th,
  .display-items td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .display-items th {
    background-color: #144100;
    color: white;
  }
  
  .display-items tr:hover {
    background-color: #f1f1f1;
  }
  