.update-item {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .update-item h2 {
    margin-bottom: 20px;
  }
  
  .update-item form {
    display: flex;
    flex-direction: column;
  }
  
  .update-item input,
  .update-item select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .update-item button {
    background-color: #00b227;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .update-item button:hover {
    background-color: #096026;
  }
  